body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.header {
  text-align: justify;
  line-height: 1.5;
  text-transform: uppercase;
    color: #2E2F42;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0.54px;
      text-transform: uppercase;
    }
.list {
  font-size: 16px;
  font-weight: 500;
  color: #2E2F42;
  line-height: 1.5;
  letter-spacing:  0.02em;
  
}

